<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="title">
        <h1>Title</h1>
    </div>
    <div class="photo">
        <img class="headshot" src="/assets/headshot.png">
    </div>
    <div class="navlinks">
        <ul>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/about">About me</a></li>
            <li><a href="/contact">Contact Information</a></li>
        </ul>
    </div>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>