<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container">
        <h1>Resume</h1>
        <a href="resume-download">Download</a>
        <div class="resume">
            <img src="/assets/resume.png">
        </div>
    </div>
</body>