<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container">
        <h1>Resume</h1>
        <div class="resume">
            <img class="resume" src="/assets/resume.png">
        </div>
    </div>
</body>